/*======== layout.scss ========*/
* {
  box-sizing: border-box; }

.container {
  max-width: 100vw;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px; }

/* ba-grid */
.ba-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px; }

.ba-row + .ba-row {
  margin-top: 1rem; }

[class^='ba-col'] {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%; }

.ba-col-1 {
  width: 8.33333%; }

.ba-col-2 {
  width: 16.66667%; }

.ba-col-3 {
  width: 25%; }

.ba-col-4 {
  width: 33.33333%; }

.ba-col-5 {
  width: 41.66667%; }

.ba-col-6 {
  width: 50%; }

.ba-col-7 {
  width: 58.33333%; }

.ba-col-8 {
  width: 66.66667%; }

.ba-col-9 {
  width: 75%; }

.ba-col-10 {
  width: 83.33333%; }

.ba-col-11 {
  width: 91.66667%; }

.ba-col-12 {
  width: 100%; }

/* ba-common */
.ba-text-center {
  text-align: center; }

.ba-text-left {
  text-align-last: left; }

.ba-text-right {
  text-align: right; }

.ba-text-justify {
  text-align: justify; }

/*======== style.scss ========*/
* img {
  max-width: 100%; }

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden; }

html, body {
  font-family: 'Lato', sans-serif; }

.ba-header {
  height: 60px; }
  .ba-header-wrap {
    display: flex;
    align-items: center;
    padding: 0; }
  .ba-header-left {
    background-color: #85c875;
    padding-left: 2em;
    color: white;
    width: 25%; }
  .ba-header-right {
    background-color: #fff;
    color: #666666;
    padding: 0;
    width: 75%; }

.ba-logo__link {
  text-decoration: none;
  color: inherit; }

.ba-logo-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-start; }

.ba-logo__icon {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center; }

.ba-logo__icon svg {
  fill: #fff;
  stroke: #fff;
  width: 42px;
  height: 36px; }

.ba-logo__text {
  text-transform: uppercase;
  letter-spacing: -.005em; }

.ba-logo__title {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1; }

.ba-logo__desc {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  margin: 0; }

.ba-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  position: relative;
  padding-left: 2rem; }
  .ba-nav-btn {
    position: absolute;
    top: 14px;
    left: -21px;
    width: 38px;
    height: 38px;
    border: 1px solid #82c372;
    background-color: #85c875;
    border-radius: 50px; }
  .ba-nav-btn svg {
    fill: #fff; }
  .ba-nav-search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .ba-nav-search__inp {
      width: calc(100% - 60px);
      border: none;
      background-color: transparent;
      padding: 0 1em;
      font-size: 1.125rem; }
      .ba-nav-search__inp:focus, .ba-nav-search__inp:active {
        outline: none;
        outline-offset: 0; }
    .ba-nav-search__btn {
      width: 40px;
      height: 40px;
      border: none;
      background-color: transparent;
      padding: 0 auto;
      margin-right: 1em; }
    .ba-nav-search__btn svg {
      fill: #666666; }
  .ba-nav-user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    border-left: 1px solid #cccccc;
    padding: 0 2rem; }
    .ba-nav-user__thumb {
      width: 42px;
      height: 42px;
      border-radius: 50%;
      border: 1px solid #cccccc;
      overflow: hidden; }
    .ba-nav-user__img {
      max-height: 100%;
      border-radius: 50%;
      transform: scale(1.1); }
    .ba-nav-user__name {
      font-size: 20px;
      font-weight: 400;
      text-transform: capitalize;
      padding: 0 1em; }
    .ba-nav-user__arrow {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 9px 6px 0 6px;
      border-color: #666666 transparent transparent transparent; }
    .ba-nav-user:hover {
      background-color: #ccc; }

.ba-menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%; }
  .ba-menu__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 60px;
    border-right: 1px solid #cccccc;
    position: relative; }
    .ba-menu__item:before {
      content: attr(dataCount) "";
      position: absolute;
      top: 10px;
      right: 10px;
      display: block;
      width: 27px;
      height: 20px;
      border-radius: 10px;
      background-color: #f15822;
      color: #fff;
      text-align: center; }
  .ba-menu__link {
    color: inherit;
    text-decoration: none; }

.content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  background-color: #33414e; }

.ba-aside {
  width: 25%;
  height: 100%;
  background-color: #33414e; }
  .ba-aside-wrap {
    background-color: #293744;
    color: white;
    padding: 0; }
  .ba-aside-user {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding: 40px 0; }
    .ba-aside-user__thumb {
      width: 70px;
      border-radius: 50%;
      overflow: hidden; }
    .ba-aside-user__img {
      max-width: 100%;
      border-radius: 50%;
      transform: scale(1.1); }
    .ba-aside-user__info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start; }
    .ba-aside-user__name {
      font-size: 1.25rem;
      font-weight: 700;
      text-transform: capitalize; }
    .ba-aside-user__position {
      font-size: 1rem;
      font-weight: 400; }
  .ba-aside-settings {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    margin-bottom: 0; }
    .ba-aside-settings__item {
      margin-right: 1em; }
    .ba-aside-settings__link {
      text-decoration: none;
      color: inherit; }
  .ba-aside-nav {
    background-color: #33414e;
    width: 100%; }
  .ba-aside-general {
    border-bottom: 1px solid #253340; }
  .ba-aside__title {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1.25rem;
    display: block;
    height: 60px;
    line-height: 60px;
    width: 100%;
    margin: 0;
    padding-left: 2rem;
    color: #bed1e4; }
  .ba-aside-options {
    list-style: none;
    padding: 0 2rem;
    margin: 0;
    padding: 0; }
    .ba-aside-options__item {
      border-left: 8px solid transparent; }
      .ba-aside-options__item:hover {
        border-color: #85c875;
        background-color: #253340; }
    .ba-aside-options-wrap {
      padding: 0 2rem;
      display: flex;
      align-items: center;
      justify-content: space-between; }
    .ba-aside-options__name {
      font-size: 1.25rem;
      font-weight: 400;
      margin-right: auto;
      padding-left: 2rem; }

main {
  background-color: #f1f1f1;
  width: 75%;
  padding-bottom: 15px;
  border-top: 1px solid #cccccc; }

.ba-head {
  padding: 15px; }
  .ba-head-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between; }
